<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesBro"
        tools:targetApi="33">
        <activity
            android:name=".cse.textbooks.CseTextBookActivity"
            android:exported="false" />
        <activity
            android:name=".cse.CseTextbookActivity"
            android:exported="false" />
        <activity
            android:name=".cse.notes.CseSem8Activity"
            android:exported="false" />
        <activity
            android:name=".cse.notes.CseSem7Activity"
            android:exported="false" />
        <activity
            android:name=".cse.notes.CseSem6Activity"
            android:exported="false" />
        <activity
            android:name=".cse.notes.CseSem5Activity"
            android:exported="false" />
        <activity
            android:name=".cse.notes.CseSem4Activity"
            android:exported="false" />
        <activity
            android:name=".cse.notes.CseSem3Activity"
            android:exported="false" />
        <activity
            android:name=".cse.notes.CseSem2Activity"
            android:exported="false" />
        <activity
            android:name=".civil.CivilListActivity"
            android:exported="false" />
        <activity
            android:name=".mech.MechListActivity"
            android:exported="false" />
        <activity
            android:name=".eee.EeeListActivity"
            android:exported="false" />
        <activity
            android:name=".ece.EceListActivity"
            android:exported="false" />
        <activity
            android:name=".it.ItListActivity"
            android:exported="false" />
        <activity
            android:name=".cse.CseListActivity"
            android:exported="false" />
        <activity
            android:name=".cse.CseNotesActivity"
            android:exported="false" />
        <activity
            android:name=".cse.notes.CseSem1Activity"
            android:exported="false" />
        <activity
            android:name=".login.StaffLoginActivity"
            android:exported="false" />
        <activity
            android:name=".login.StudentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>